/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/

:root {
  --header-height: 3rem;
  --font-semi: 600;
}

:root {
  --hue-color: 224;
  /* ①0是红色 120是绿色 240是蓝色  ②饱和度 ③亮度*/
  /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --first-color-alt: hsl(var(--hue-color), 100%, 50%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  /* --first-color: #4070F4; */
  --second-color: #0E2431;
  --body-color: hsl(var(--hue-color), 60%, 99%);
}

:root {
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background-color: var(--body-color);
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}

/*===== NAV =====*/

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo {
  color: var(--second-color);
}

.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/

.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/

.show {
  right: 0;
}

/*===== HOME =====*/

.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 2rem;
}

div.home__social a.home__social-icon i.iconfont {
  font-size: 1.5rem;
  color: var(--second-color);
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
  /* background-color: blue; */
}
.home_blob {
  fill: var(--first-color);
  max-width: 295px;
}

.home_blob-img {
  width: 140px;
}
/*BUTTONS*/

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
  background-color: var(--first-color-alt);
}

/* ===== ABOUT =====*/

.about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img {
  justify-self: center;
}

.about__img img {
  border-radius: .5rem;
}

/* ===== SKILLS =====*/

.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills_header {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.skills_header .skills_arrow {
  color: var(--first-color);
  font-weight: 500;
  font-size: 1.8rem;
}

.skills_header .icon-code, .skills_header .icon-server-3 {
  font-size: 2rem;
  color: var(--first-color);
  font-weight: 500;
  margin-right: 0.25rem;
}

.skills_header .icon-server-3 {
  font-size: 1.5rem;
  margin-left: 0.1rem;
  font-weight: 700;
  margin-right: 0.6rem;
}

div.skills_header i.skills_arrow {
  margin-left: auto;
  color: var(--first-color-lighter);
  transition: 0.3s ease;
  cursor: pointer;
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills_info {
  height: 3rem;
  transition: 0.5s ease;
  margin-bottom: var(--mb-1);
  margin-left: 2rem;
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  border-radius: .5rem;
}

i.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills__names {
  display: flex;
  align-items: center;
}

.bar_box, .skills__bar {
  height: .25rem;
  border-radius: .5rem;
}

.bar_box {
  background-color: var(--first-color-lighter);
}

.skills__bar {
  background-color: var(--first-color);
}

.skills__html {
  width: 95%;
}

.skills__css {
  width: 85%;
}

.skills__js {
  width: 65%;
}

.skills__vue {
  width: 85%;
}

.skills__elem {
  width: 75%;
}

.skills__node {
  width: 65%;
}

.skills__ex {
  width: 75%;
}

.skills__db {
  width: 65%;
}

.skills__img {
  border-radius: .5rem;
}

div.skills_close i.skills_arrow {
  color: var(--first-color);
  transform: rotate(180deg);
}

div.skills_close .skills_info {
  height: 0;
  overflow: hidden;
  margin-bottom: 0;
}

/* ===== WORK =====*/

.work__container {
  row-gap: 2rem;
  /* place-items: center; */

}

.work__image {
  box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
  border-radius: .5rem;
  overflow: hidden;
}
.work__image img {
  transition: 1s;
  cursor: pointer;
}

.work__image img:hover {
  transform: scale(1.1);
}

.pc {
  display: none;
}



/* ===== FOOTER =====*/

.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social {
  margin-bottom: var(--mb-4);
}

.footer__icon {
  font-size: 2rem;
  color: #fff;
  margin: 0 var(--mb-2)
}

.footer__icon i.iconfont {
  font-size: 2rem;
}

.footer__icon i.iconfont.icon-gitee {
  font-size: 1.5rem;
  position: relative;
  bottom: 0.2rem;
}

/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .home {
    height: 100vh;
  }
  .home__data {
    align-self: flex-end;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  div.home__social a.home__social-icon i.iconfont {
    font-size: 2rem;
  }
  .home__img {
    width: 457px;
    bottom: 15%;
  }
  .home_blob {
    fill: var(--first-color);
    max-width: 457px;
  }
  
  .home_blob-img {
    width: 150px;
  }
  .about__container, .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  
  .work__container.mobile {
    display: none;
  }
  .pc.wrapper {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 700px;
    display: block;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
  }
  .carousel_list {
    list-style: none;
    transition: 0.5s;
    width: 400%;
    display: flex;
    border-radius: .5rem;
  }
  .carousel_list li {
    width: 700px;
  }
  .carousel_list li img {
    width: 100%;

    vertical-align: middle;
  }
  .button_wrap button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    color: white;
    border: None;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.11);
    color: white;
  }
  .button-left {
    left: 10px;
  }
  .button-right {
    right: 10px;
  }
  ol {
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  ol li {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.411);
    margin-right: 5px;
    border-radius: 50%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
  }
  ol li:last-child {
    margin-right: 0;
  }
  ol li.active {
    background-color: var(--first-color);
  }


}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    right: 10%;
  }
}

/* mask */

div.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

div.mask .imgbox {
  max-width: 400px;
  padding: 3rem 0;
  width: 70%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

div.mask .imgbox img {
  width: 70%;
  height: auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

div.mask .imgbox .iconfont {
  position: absolute;
  font-size: 1.5rem;
  top: 0.5rem;
  left: 0.5rem;
  cursor: pointer;
  color: var(--first-color);
  transition: 0.4s ease;
}

div.mask .imgbox .iconfont:hover {
  color: var(--first-color-alt);
  transform: rotate(360deg);
}

div.mask.isShow {
  display: none;
}